body {
    background-color: #64c2a1;
    font-family: 'Zen Kurenaido', serif;
    padding: 1rem;
    color: #000000;
    align-content: center;
    max-width: 600px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: #002236;
}

h1 {
    font-size: 1.5rem;
    margin: 0.15rem;
}

h2 {
    font-size: 1rem;
}

p {
    font-size: 1em;
    font-family:'Zen Kurenaido', serif;
    line-height: 1.25em;;
}

header, footer, ul, h2 {
    border-radius: 5px;
    box-shadow: 1px 1px 4px 1px #3F4045;
    border: 1px solid #002236;
}

header{
    background-color: #cdd2eb;
    align-items: center;
    justify-content: center;
}

img{
    width: 100px;
    padding: 1em;
}

h1 {
    grid-column: 2/-1;
    grid-row: 1/2;
    padding: 3em;
}

h2 {
    padding: 1em;
    background-color: #cdd2eb;
    text-align: center;
}

ul {
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #FFFFFF;
}

footer {
    background-color: #cdd2eb;
    padding: .1em;
    text-align: center;
}

#copyright #updated {
    color: #FFFFFF;
}