* {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #bed;
    margin-bottom: 1rem;
}

h1, h2 {
    color: #4c4cbd;
    font-family: 'Boogaloo', serif; 
}

h2 {
    padding: .5rem;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid #777;
}

p {
    font-size: .75rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    padding: .25rem;
}


.cards {
    margin-left: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 210px));
    grid-gap: 1rem;
}

.cards section {
    background-color: #bbb;
    border: 1px solid #555585;
    padding: .2rem;
}

section img {
    width: 150px;
    height: auto;
    box-shadow: 1px 1px 4px 1px #34403A;
}

@media (max-width: 29.3rem) {
	.cards {
		display: block;
	}
    
    .cards section {
        margin: .2rem;
    }

    section img {
        width: 100px;
        height: auto;
    }
}