
body {
    background-color: #64c2a1;
    font-family: 'Titillium Web', serif;
    margin: auto;
    color: #000000;
    align-content: center;
}

h1, h2, h3 {
    font-family: 'Comfortaa', sans-serif;
    color: white;
    background-color: #002236;
}

h3 {
    padding: 1em;
    margin: 0;
}

header, footer {
    background-color: #002236;
    margin: 0;
    text-align: center;
    color: white;
}

main, header, footer {
    padding: 1em;
}

.proximity, .repetition, .contrast {
    border-radius: 5px;
    border: 1px solid #002236;
    background-color: white;
}

img {
    width: 100%;
}
