body {
    background-color: #258238;
    font-family: 'Quicksand', sans-serif;
    color: #34403A;
    margin: auto;
    align-content: center;
    padding: .5rem;
    text-align: center;
}

main, header, footer {
    border: 1px solid #f3be38;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #258238;
    border-radius: 10px;
}

header {
    flex-flow: row wrap;
    color: #F3FFC6;
    align-items: center;
    justify-items: center;
    align-content: space-between;
}

header p {
    font-size: .8rem;
}

nav {
    background-color: #258238;
    margin: 0;
    padding: 0;
}

nav ul {
    background-color: #285238;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    font-size: .8rem;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: .8rem 2vw;
    color: #F3FFC6;
    border-top: 1px solid rgba(0,0,0,.5);
}

nav ul a:link {
    text-decoration: underline;
}

nav ul a:hover {
    background-color: #f3ffc6;
    border-radius: 10px;
    color: #f3ffc6;
    text-decoration: underline;
    box-shadow: 1px 1px 4px 1px #34403A;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #34404A;
}

header img {
    width: 200px;
    border-radius: 10px;
    margin: 1vw;
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul.open {
    display: block;
    position: absolute;
}

#hamburger span:nth-child(1) {
    display: block;
    color: #F3FFC6
}

#hamburger span:nth-child(2) {
    display: none;
}

#hamburger.open span:nth-child(1) {
    display: none;
}

#hamburger.open span:nth-child(2) {
    display: block;
}

.social img {
    width: 30px;
    border-radius: 75px;
}

#currentDate {
    color: #F3FFC6;
}

#message {
    border: solid 1px #f3be38;
    background-color: #F3FFC6;
    width: 100%;
}

/* main styling */
/* h1 {
    position: absolute;
    margin: 1rem;
    color: #F3FFC6;
} */

main.index {
    display: grid;
    grid-gap: .5rem;
    padding: .5rem;
    border-radius: 10px;
}

main div {
    background-color: #F3FFC6;
    border-radius: 10px;
    text-align: center;
    color: #34403A;
    margin: auto;
    width: 100%;
    border: 1px solid #f3be38;
}

.spotlight {
    display: grid;
}

.spot {
    background-color: #258238;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px #f3be38;
    text-align: center;
    color: #F3FFC6;
    margin: .5rem;
    width: 95%;
}

#spot3 {
    display: none;
}

.hero {
    grid-row: 1/2;
}

#hero-img {
    width: 90%;
    max-width: 650px;
}
#action-call {
    position: relative;
    bottom: 30px;
    left: 20px;
}
.news {
    grid-row: 4/5;
}

.event {
    grid-row: 2/3;
}

.placeholder-box img{
    max-width: 100px;
}

.placeholder-box .spot {
    line-height: 1rem;
}
.weather {
    grid-row: 3/4;
}

.join {
    display: none;
}

.spotlight {
    grid-row: 5/6;
}

img.discover {
    width: 90%;
}

/* footer styling */
footer {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: #F3FFC6;
}

footer img {
    width: 100px;
    margin-top: 1rem;
    padding: 0;
}

footer p {
    margin: .25rem;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    background-color: white;
    color: #34403A;
    padding: .25rem;
}

#year {
    justify-content: center;
    align-items: center;
    color: #F3FFC6
}