body {
    background-color: #258238;
    font-family: 'Quicksand', sans-serif;
    color: #F3FFC6;
    margin: auto;
    align-content: center;
    padding: .5rem;
    text-align: center;
}

main, header, footer {
    border: 1px solid #f3be38;
    padding: 0 2%;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #258238;
    border-radius: 10px;
}

/* -----------------------HEADER---------------------------- */
header {
    flex-flow: row wrap;
    color: #F3FFC6;
    align-items: center;
    justify-items: center;
    align-content: space-between;
}

header p {
    font-size: .8rem;
}

nav {
    background-color: #258238;
    margin: 0;
    padding: 0;
}

nav ul {
    background-color: #285238;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    font-size: .8rem;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: .8rem 2vw;
    color: #F3FFC6;
    border-top: 1px solid rgba(0,0,0,.5);
}

nav ul a:link {
    text-decoration: underline;
}

nav ul a:hover {
    background-color: #f3ffc6;
    color: #f3ffc6;
    text-decoration: underline;
    box-shadow: 1px 1px 4px 1px #34403A;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #34404A;
}

header img {
    width: 200px;
    border-radius: 10px;
    margin: 1vw;
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul.open {
    display: block;
    position: absolute;
    width: 15rem;
}

#hamburger span:nth-child(1) {
    display: block;
    color: #F3FFC6
}

#hamburger span:nth-child(2) {
    display: none;
}

#hamburger.open span:nth-child(1) {
    display: none;
}

#hamburger.open span:nth-child(2) {
    display: block;
}

.social img {
    width: 25px;
    border-radius: 75px;
}

#currentDate {
    color: #F3FFC6;
}

#message {
    border: solid 1px #f3be38;
    background-color: #F3FFC6;
    width: 100%;
    color:#34403A;
}

/* -------------------------INDEX-------------------------- */
main.index {
    display: grid;
    grid-gap: .5rem;
    padding: .5rem;
    border-radius: 10px;
}

main div {
    background-color: #F3FFC6;
    border-radius: 10px;
    text-align: center;
    color: #34403A;
    margin: auto;
    width: 100%;
    border: 1px solid #f3be38;
}

h1 span {
    display: block;
    font-size: 1.25rem;
}

.spotlight {
    display: grid;
}

.spot1 {
    background-color: #258238;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px #f3be38;
    text-align: center;
    color: #F3FFC6;
    margin: .5rem;
    width: 95%;
}

#spot3 {
    display: none;
}

.hero {
    grid-row: 1/2;
}

#hero-img {
    width: 90%;
    max-width: 30rem;
}

.button {
    margin: .5rem;
    padding: .5rem;
    background-color: #258238;
    color: #F3FFC6;
    border: .5px solid #f3be38;
    text-align: center;
    width: 15rem;
    text-decoration: none;
}

.weather {
    padding: 0;
    margin: 0;
}
div.weather h3 {
    padding: 0;
    margin: 0;
}

.button:hover {
    background-color: #285238;
    box-shadow: 1px 1px 4px 1px #34403A;
}

#action-call {
    display: none;
}

.news {
    grid-row: 4/5;
}

.event {
    grid-row: 2/3;
}

.placeholder-box picture{
    max-width: 100px;
}

.placeholder-box .spot {
    line-height: 1rem;
}
.weather {
    grid-row: 3/4;
}
#weather-icon {
    padding: 0;
    margin: 0;
    max-width: 75px;
}

.join {
    display: none;
}

.spotlight {
    grid-row: 5/6;
}

.spot-img {
    max-width: 150px;
}


/* ---------------------DISCOVER----------------------- */
main div.discover_grid {
    background-color: #258238;
    text-align: center;
    margin: auto;
    width: 100%;
    border: none;
}

img.discover {
    width: 90%;
    border-radius: 10px;
    margin-top: .5rem;
}

.outline {
    border: 1px solid #f3be38;
}

.list section img.cards {
    display: none;
}

section {
    margin: .25rem;
}

div.menu button {
    display: none;
}


/* ---------------------JOIN----------------------- */

.join-form, .contact {
    display: block;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #258238;
    margin: auto;
}
form {
    display: block;
}
form fieldset, div.fieldset, form fieldset.contact {
    margin: 2rem 0;
    border: 1px solid #f3be38;
    border-radius: 10px;
    padding: .5rem 2%;
    background-color: rgba(243, 255, 198, 0.9);
    max-width: 25rem;
    color: #34403A;
}
form legend {
    color: #34403A;
    background-color: #F3FFC6;
    border: 1px solid #f3be38;
}
form label.top, form label.bi {
    display: block;
    padding-top: 1rem;
    color: #34403A;
}
form label.top input, form label.top select, form label.bi input {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    max-width: 20rem;
    background-color: rgba(91, 91, 91, 0.1);
}
form label.sbs, .bi {
    display: block;
    padding: .75rem 0;
    color: #34403A;
}
form input.submitBtn {
    background-color: #F3FFC6;
    color: #34403A;
    border: none;
    text-align: center;
    width: 15rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    max-height: 2.5rem;
    box-shadow: 1px 1px 4px 1px #34403A;
}
form input.submitBtn:hover {
    background-color: rgb(243, 190, 56, .75);
    box-shadow: 1px 1px 4px 1px #34403A;
    font-size: 1rem;
}
form label.top input:required, form label.bi input:required {
    border-left: rgb(115, 20, 20) solid 6px;
}
form label.top input:required:valid, form label.bi input:required:valid {
    border-left: rgb(37, 89, 37) solid 6px;
}
form label {
    text-align: left;
}

/* ---------------DIRECTORY--------------- */
.menu {
    text-align: center;
}

.cards section {
    background-color: rgba(37, 130, 56, 0.2);
    border: 1px solid #f3be38;
    padding: .2rem;
    border-radius: 10px;
}

section img {
    display: none;
}


/* ----------------CONTACT--------------- */

.contact-main {
    margin: auto;
    text-align: left;
    min-width: 20rem;
    max-width: 40rem;
    padding: .5rem;
}

#contact-head {
    text-align: center;
}

div.contact {
    margin: auto;
}

form fieldset.contact {
    max-width: 40rem;
    min-width: 20rem;
}

/* ----------------FOOTER---------------- */
footer {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: #F3FFC6;
}

footer img {
    width: 100px;
    margin-top: 1rem;
    padding: 0;
}

footer p {
    margin: .25rem;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    background-color: white;
    color: #34403A;
    padding: .25rem;
}

#year {
    justify-content: center;
    align-items: center;
    color: #F3FFC6
}