body {
    background-color: #D8973C;
    font-family: 'Quicksand' sans-serif;
    color: #34403A;
}

header {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #258238;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px #34403A;
}

header p {
    font-size: .8rem;
}

nav {
    background-color: #258238;
    margin: 0;
    padding: 0;
}

nav ul {
    background-color: 285238;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: .8rem 2vw;
    color: #F3FFC6;
    border-top: 1px solid rgba(0,0,0,.5);
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #34404A;
}

img {
    width: 200px;
    border-radius: 10px;
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul.open {
    display: block;
}

#hamburger span:nth-child(1) {
    display: block;
}

#hamburger span:nth-child(2) {
    display: none;
}

#hamburger.open span:nth-child(1) {
    display: none;
}

#hamburger.open span:nth-child(2) {
    display: block;
}

.date {
    grid-column: -1/-2;
}