@media only screen and (min-width: 64rem) {
    nav button {
        display: none;
    }
    nav ul#primary {
        display: flex;
        justify-content: center;
        margin-left: 1vw;
        border-left: 1px solid rgba(0,0,0,0.3);
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .5rem 1rem;
    }

    header p {
        margin-left: 2vw;
    }
    img {
        margin-left: 1vw;
    }

    #spot3 {
        display: block;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
    }

    .hero {
        grid-area: 1/2/3/4;
    }

    .news {
        grid-area: 3/2/4/4;
    }
    
    .event {
        grid-area: 1/1/2/2;
    }
    
    .weather {
        grid-area: 2/1/3/2;
    }

    .spotlight {
        grid-area: 1/4/4/5;
        grid-template-columns: 1fr;
    }
        
    .join {
        grid-area: 3/1/4/2;
    }

    #action-call {
        bottom: 25px;
        right: 30px;
    }
    
}