@media only screen and (min-width: 32.5rem) {
    img {
        width: 250px;
    }

    main {
        grid-template-columns: 2fr 1fr;
        grid-gap: 1rem;
    }
    .hero {
        grid-area: 1/1/2/3;
    }
    .news {
        grid-area: 2/1/3/3;
    }
    
    .event {
        grid-area: 5/1/6/2;
    }
    
    #action-call {
        display: block;
        position: relative;
        left: 10rem;
        bottom: 4rem;
    }
    .weather {
        grid-area: 5/2/6/3;
    }
    #join {
        grid-area: 4/1/5/-1;
    }
    .spotlight {
        grid-area:3/1/4/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    div.discover_grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(325px, 350px));
        grid-gap: 1rem;
        border-radius: 10px;
        color: #F3FFC6;
        align-items: center;
        justify-content: center;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 260px));
        grid-gap: .25rem;
    }
    
    section img {
        width: 200px;
        height: auto;
        box-shadow: 1px 1px 4px 1px #34403A;
        margin: 2.5rem;
    }

    main.directory {
        max-width: 60rem;
        margin: auto;
    }
    
    .menu {
        margin: 1rem auto;
        text-align: center;
    }
    
    div.menu button {
        display: block;
        padding: .5rem;
        margin: auto;
        margin-top: .25rem;
        margin-bottom: .25rem;
    }
    
    section {
        padding: 0.5rem;
        background-color: #F3FFC6;
        border: 1px solid #f3be38;
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
        grid-gap: .25rem;
        margin: auto;
    }
    
    .list {
        display: flex;
        flex-direction: column;
    }
    
    .list section {
        display: flex;
        align-items: center;
    }
    
    .grid section {
        flex-direction: column;
        text-align: center;
    }
    .list section {
        flex-direction: row;
        justify-content: left;
    } 
     
    .list section > * {
        margin: 0 1rem;
        text-align: left;
    }
    
    section h2 {
        font-size: 1rem;
    }
    
    img.cards {
        max-width: 150px;
    }
    
}