@media only screen and (min-width: 32.5rem) {
    img {
        width: 250px;
    }

    main {
        grid-template-columns: 2fr 1fr;
        grid-gap: 1rem;
    }
    .hero {
        grid-area: 1/1/2/3;
    }
    .news {
        grid-area: 2/1/3/3;
    }
    
    .event {
        grid-area: 5/1/6/2;
    }
    
    .weather {
        grid-area: 5/2/6/3;
    }

    .spotlight {
        grid-area:3/1/4/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
        
    .join {
        display: block;
        grid-area: 4/1/5/3;
    }

    .join button {
        margin-top: 1rem;
    }

    #action-call {
        left: 30px;
        bottom: 40px;
    }



    main.discover {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(225px, 250px));
        grid-gap: 1rem;
        border-radius: 10px;
        color: #F3FFC6;
        align-items: center;
        justify-content: center;
    }
    
    /* .disc_header1 {
        grid-area: 1/1/2/5;
    } */

    /* .disc_header2 {
        grid-area: 2/1/3/2;
    }

    .disc_header3 {
        grid-area: 2/3/3/4;
    }

    .disc_header4 {
        grid-area: 4/2/5/3;
    }

    .disc_header5 {
        grid-area:4/4/5/5;
    }

    .disc_header6 {
        grid-area: 6/3/7/4;
    } */

    /* .disc_para1 {
        grid-area: 3/1/4/2;
    }

    .disc_para2 {
        grid-area: 3/3/4/4;
    }

    .disc_para3 {
        grid-area: 5/2/6/3;
    }
    
    .disc_para4 {
        grid-area: 5/4/6/5;
    }

    .disc_para5 {
        grid-area: 7/3/8/4;
    }
/*  */
    /* .disc_img1 {
        grid-area: 2/2/4/3;
    }

    .disc_img2 {
        grid-area: 2/4/4/5;
    }

    .disc_img3 {
        grid-area: 4/1/6/2;;
    }

    .disc_img4 {
        grid-area: 4/3/6/4;
    }

    .disc_img5 {
        grid-area: 6/2/8/3;
    } */
}