body {
    background-color: #285238;
    font-family: 'Quicksand', sans-serif;
    margin: auto;
    color: #34403A;
    align-content: center;
}

main, header, footer {
    padding: 1rem;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    color: #d8973c;
    background-color: #285238;
}

p {
    background-color: #f3ffc6;
    padding: .5rem;
}

nav, .audience, .persona1, .persona2, footer, .scenarios, .color1, .colors, .typeface1, .typeface2 {
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px #34403A;
    border: 1px solid #d8973c;
    padding: 1rem;
}

nav a {
    color: #f3ffc6;
    line-height: 2.5rem;
    padding: .5rem;
    text-align: center;
    background-color: #285238;
}

nav ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 1em;
    text-align: center;
    background-color: #285238;
}

nav ul a:link {
    text-decoration: underline;
}

nav ul a:hover {
    background-color: #f3ffc6;
    border-radius: 10px;
    color: #285238;
    text-decoration: underline;
    box-shadow: 1px 1px 4px 1px #34403A;
}

header, footer, #year, #updated {
    background-color: #285238;
    margin: 0;
    text-align: center;
    color: #f3ffc6;
}

main, header, footer {
    padding: 1em;
}



/* color scheme formatting */

.colors {
    width: 100%;
    margin: auto;
    text-align: center;
}
.colors th {
    background-color: #f3ffc6;
}
.colors td {
    width: 25%;
}
.primary {
    background-color: #285238;
    color: white;
}
.secondary {
    background-color: #f3ffc6;
}
.accent1 {
    background-color: #d8973c;
}
.accent2 {
    background-color: #34403A;
    color: white;
}
#colored-background {
    background-color: #285238;
    color: #f3ffc6
}