@media only screen  and (min-width: 64rem) {
    nav button {
        display: none;
    }
    nav ul#primary {
        display: flex;
    }

    form fieldset{
        max-width: 35rem;
    }
    
    form input {
        padding: 1rem;
        min-width: 20rem;
        max-width: 25rem;
    }

    label {
        max-width: fit-content;
    }
}
