@media only screen  and (min-width: 45rem) {
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 375px));
        grid-gap: .25rem;
        margin: 0;
    }
    
    .cards img {
        min-width: 325px;
    }

    .like, .liked {
        margin-top: -4rem;
        margin-left: 4rem;
        font-size: 32px;
    }

    main.reserve, main.service, main.reception, main.missionary {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    div.header {
        grid-area: 1/1/2/-1;
    }
    form fieldset{
        min-width: 20rem;
        max-width: 30rem;
    }
    
    form input {
        min-width: 17rem;
        max-width: 25rem;
    }

    main.contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .cards.home section:nth-child(1) {
        display: inline;
    }
    section.weather {
        display: grid;
        grid-template-columns: 25% 75%;
        width: 100%;
    }
    span#forecast {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 90%;
    }
    
}

