* {
    color: #28112B;
    margin: auto;
    padding: .5rem;
    align-content: center;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    max-width: 57rem;
}

body {
    background-image: linear-gradient(to top right, #E6E1C5, #9CA3DB);
}

h1, h2, h3 {
    font-family: 'B612', sans-serif;
    color: #E6E1C5;
    background-color: #395c6b;
    border: 1px solid #28112B;
    box-shadow: 1px 1px 4px 1px #28112B;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
p {
    background-color: #E6E1C5;
    line-height: 1.1rem;
    border-right: 1px solid #28112B;
    border-left: 1px solid #28112B;
}

img {
    width: 75%;
}
img.hero {
    width: 100%;
    box-shadow: 1px 1px 4px 1px #28112B;
}
#logo img{
    max-width: 20%;
    border: 1px solid #28112B;
    margin-top: .5rem;
    background-color: rgb(230, 225, 197, .5);
}

header, footer {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    line-height: 1.5rem;
    box-shadow: 1px 1px 4px 1px #28112B;
    grid-gap: .25rem;
}
header span {
    grid-area: 1/1/2/-1;
    margin: 1rem;
}
nav a, header, footer, #year, .address p, footer span a, footer a {
    color: #E6E1C5;
}
nav ul {
    display: none;
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    margin: 0;
    background-color: #28112B;
}
nav ul a:link, span a:link, a:link {
    text-decoration: none;
}
nav ul a:hover, span a:hover, a:hover {
    background-color: #E6E1C5;
    color: #395c6b;
    text-decoration: none;
}
nav ul.open {
    display: block;
    position: absolute;
    margin-left: -10rem;
    width: 24rem;
}
button {
    background-color: #E6E1C5;
    border: 1px solid #395c6b;
    color: #28112B
}
#hamburger span:nth-child(1) {
    display: block;
    color: #28112B;
    background-color: #E6E1C5;
}
#hamburger span:nth-child(2) {
    display: none;
}
#hamburger.open span:nth-child(1) {
    display: none;
}
#hamburger.open span:nth-child(2) {
    display: block;
}
header, footer, #year, .address p {
    background-color: #28112B;
    margin: 0;
    text-align: center;
}

.social img {
    width: 75%;
    margin: 0;
    padding: 0;
}
div.social {
    border: none;
    box-shadow: none;
    display: grid;
    grid-template-columns: 33% 33% 34%;
    width: 125%;
}

.logo {
    width: 100%;
    background-image: linear-gradient(to bottom right, #E6E1C5, #9CA3DB);
}

.reservation {
    position: absolute;
    margin-left: -4rem;
    margin-top: -4rem;
    padding: .75rem;
}

h2.forecast, h3.forecast {
    font-size: 1.1rem;
}

/* ------------- Temples ----------------- */
.like, .liked {
    position: absolute;
    font-size: 36px;
    margin-left: -3.5rem;
    color: palevioletred;
}

.liked {
    display: none;
}

.cards section {
    background-color: #28112B;
    border: 1px solid #395c6b;
    padding: .5rem;
    margin: .5rem;
    box-shadow: 1px 1px 4px 1px #395c6b;
}
.cards.home section:nth-child(1) {
    display: none;
}

.cards.home section:nth-child(2) {
    display: none;
}

/* ----------- Reserve ------------------ */
form fieldset, div.fieldset, form fieldset.contact {
    border: 1px solid #28112B;
    padding: .5rem 2%;
    background-color: #E6E1C5;
    max-width: 30rem;
    color: #28112B;
}

form legend {
    color: #E6E1C5;
    background-color: #395c6b;
    border: 1px solid #28112B;
}

form label {
    display: block;
    font-size: 1rem;
    padding: .25rem;
    color: #28112B;
    text-align: left;
}

form input {
    min-width: 15rem;
    max-width: 30rem;
    display: block;
    text-align: left;
    padding: 1rem;
}

form input.submitBtn {
    background-color: #28112B;
    color: #E6E1C5;
    border: none;
    font-size: 1.1rem;
    box-shadow: 1px 1px 4px 1px #28112B;
    text-align: center;
    margin-top: .75rem;
    margin-bottom: .75rem;
}

form input.submitBtn:hover {
    background-color: #9CA3DB;
    color: #28112B;
}

form label input:required {
    border: rgba(255, 17, 17, 0.5) solid 2px;
}

form label input:required:valid {
    border: none;
}

div.reserve ul, div.service ul, div.reception ul, div.missionary ul {
    /* text-decoration: none;
    text-align: left; */
    background-color: #E6E1C5;
    margin-left: 1rem;
    border-left: 1px solid #28112B;
    border-right: 1px solid #28112B;
}
div.reserve ul li, div.service ul li, div.reception ul li, div.missionary ul li {
    text-decoration: none;
    text-align: left;
}

label {
    max-width: fit-content;
}

main a {
    color: #E6E1C5;
    background-color: #28112B;
    padding: 0;
}
main a:hover {
    color: #E6E1C5;
    background-color: #395c6b;
}